@model KnowledgePool.Models.Set

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Set</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSetSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSetSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardsphereSetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardsphereSetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFoilOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFoilOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsForeignOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsForeignOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNonFoilOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNonFoilOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnlineOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnlineOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPartialPreview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPartialPreview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyruneCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyruneCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Languages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Languages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.McmId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.McmId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.McmIdExtras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.McmIdExtras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.McmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.McmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtgoCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtgoCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcgplayerGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcgplayerGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TokenSetCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TokenSetCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSetSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSetSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Code" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
