@model KnowledgePool.Models.Card

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistIds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsciiName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsciiName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttractionLights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttractionLights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoosterTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoosterTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorderColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorderColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardParts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorIdentity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorIdentity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorIndicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorIndicator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuelDeck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuelDeck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdhrecRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdhrecRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdhrecSaltiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdhrecSaltiness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceConvertedManaCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceConvertedManaCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceFlavorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceFlavorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceManaValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceManaValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finishes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finishes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlavorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlavorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlavorText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlavorText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameEffects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameEffects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAlternativeDeckLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAlternativeDeckLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasContentWarning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasContentWarning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasFoil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasFoil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasNonFoil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasNonFoil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAlternative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAlternative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFullArt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFullArt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFunny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFunny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnlineOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnlineOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOversized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOversized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPromo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRebalanced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRebalanced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReprint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReprint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReserved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStarter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStarter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStorySpotlight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStorySpotlight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTextless)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTextless)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTimeshifted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTimeshifted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Layout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Layout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadershipSkills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadershipSkills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Life)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Life)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loyalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loyalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManaCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManaCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManaValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManaValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPrintings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalPrintings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherFaceIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherFaceIds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Printings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Printings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RebalancedPrintings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RebalancedPrintings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Side)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Side)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceProducts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceProducts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subsets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subsets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supertypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supertypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toughness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toughness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Types)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Watermark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Watermark)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Uuid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
