@model IEnumerable<KnowledgePool.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistIds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsciiName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttractionLights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoosterTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorderColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardParts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorIdentity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorIndicator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuelDeck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdhrecRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdhrecSaltiness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceConvertedManaCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceFlavorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceManaValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finishes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlavorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlavorText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameEffects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasAlternativeDeckLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasContentWarning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasFoil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasNonFoil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAlternative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFullArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFunny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnlineOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOversized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRebalanced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReprint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStarter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStorySpotlight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTextless)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTimeshifted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keywords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadershipSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Life)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loyalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManaCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManaValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalPrintings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherFaceIds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Printings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromoTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RebalancedPrintings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelatedCards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Side)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceProducts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subsets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supertypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toughness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watermark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistIds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsciiName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttractionLights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoosterTypes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorderColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardParts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorIdentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorIndicator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuelDeck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdhrecRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdhrecSaltiness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceConvertedManaCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceFlavorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceManaValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finishes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlavorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlavorText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameEffects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAlternativeDeckLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasContentWarning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasFoil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasNonFoil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAlternative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFullArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFunny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnlineOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOversized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRebalanced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReserved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStarter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStorySpotlight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTextless)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTimeshifted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Layout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadershipSkills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Life)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loyalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManaCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManaValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalPrintings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherFaceIds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Printings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromoTypes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RebalancedPrintings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedCards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Side)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceProducts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subsets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtypes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supertypes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toughness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Types)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Watermark)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Uuid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Uuid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Uuid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
